/*Colors*/

$primary-color: rgb(139, 79, 139); /* ROXO - #8B4F8B */
$secondary-color: rgb(139, 109, 139); /* ROXO CLARO/HOVER- #8B4F8B */
$active-color: #405B75;
$ascent-1-color: #8B4F8B;
$ascent-2-color: #FFCC29; /* AMARELO -  #FFCC29 */
$ascent-3-color: #C0392B;
$ascent-4-color: #6F6F71 ; /* CINZA TEXTOS - #6F6F71  */
$ascent-5-color: #8B4F8B; /* ROXO - #8B4F8B */
$ascent-6-color: #E6E7E8; /* CINZA CLARO- #E6E7E8  */
$dark-green:#0e4f1d;